/* Estilo Footer */

.footer-contenedor {
        font-family: "Dekko", cursive;
        text-align: center;
        // width: 100vw;
        background-color: $primary-color;
        grid-area: footer-contenedor;
    div {
        a {
            color: $primary-color;
            .img-footer-ig {
                width: 35px;
                height: 35px;
                object-fit: contain;
                padding: 5px;
                margin-top: 5px;
            }
        }
        a .img-footer-fb {
            @extend .img-footer-ig;
            width: 48px;
        }
    }
    h4 {
        color:$text-color;
    }
}