/* Estilo Main: Contacto */

.main-contenedor {
    .titulo-contacto {
        margin-top: 5%;
        // margin-left: 5%;
        // margin-right: 5%;
        line-height: 1.5;
        width: 60vw;
        h2 {
            font-family: "Shantell Sans", cursive;
        }
    }
    .formulario-contacto {
        margin-top: 5%;
        form {
            display: flex;
            flex-direction: column;
            div {
                justify-content: center;
                align-items: center;
                text-align: center;
                .input {
                    textarea {
                        width: 184px;
                    }
                }
            }
            .btn {
                background-color: $primary-color;
                border: $primary-color 1px solid;
            }
        }
    }
    }
    