/* Estilo Main: Nosotros */

.main-contenedor {
    display: flex;
    // background-size: 100%;
    justify-content: space-evenly;
    grid-area: main-contenedor;
    .nosotros-contenedor {
        display: flex;
        .texto-nosotros {
            line-height: 1.5;
            align-self: center;
            // width: 50vw;
            h2 {
                margin-left: 50px;
            }
            p {
                margin-left: 50px;
                margin-right: 50px;
            }
        }
        .img-nosotros {
            display: flex;
            justify-content: center;
            // width: 50vw;
            img {
                width: 45vw;
                margin-top: 20px;
                margin-right: 20px;
                border-radius: 30px;
                align-self: center;
                margin: 1rem
            }
        }
    }
}

