/* Estilo Main: Quiero Adoptar */

.main-contenedor {
    .main-contenedor-section1 {
    display: flex;
    flex-direction: column;
    line-height: 2;
    align-content: start;
    grid-area: main-contenedor-quiero-section1;
    h2 {
        font-family: "Shantell Sans", cursive;
        margin-top: 10%;
        line-height: 1;
    }
    form {
        display: flex;
        flex-direction: column;
        div {
            margin: 0 auto;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }
}
    .main-contenedor-section2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        align-content: center;
        column-gap: 2%;
        margin-top: 2%;
        grid-area: main-contenedor-quiero-section2;
        .tarjeta {
            width: 181px;
            .ficha {
                height: 180px;
                width: 180px;
                object-fit: cover;
                &:hover {
                    // border-radius: 30px;
                    opacity: 0.5;
                } 
            }     
            .ficha-texto {
                display: flex;
                justify-content: space-between;
                align-content: center;
                height: 50px;
                .card-title {
                    align-items: center;
                    font-size: 1.15rem;
                    line-height: 1.2;
                }
                .card-text {
                    align-items: center;
                }
            }                
        }        
    }
}

/* Estilo Main: Quiero Colaborar */

.main-contenedor {
    .main-contenedor-section2 {
        .refugio {
            height: 180px;
            width:180px;
            // border: #000000 solid 2px;
            object-fit: cover;
            &:hover {
                // border-radius: 30px;
                opacity: 0.5;
            }
        }        
    }
}

