/* Media Query */

@media (max-width: 1200px) {
    .header-contenedor {
        .logo-contenedor {
            img {
                width: 40%;
            }
        }
        .navbar {
            width: 60%;
            // left: 5px;
        }
    }
    .main-contenedor-index {
        background-image: url(../img/fondo-inicio2.jpg);
    }
    .main-contenedor {
        .nosotros-contenedor {
            flex-direction: column;
            align-items: center;
            .texto-nosotros {
                h2 {
                    text-align: center;
                    margin-top: 20px;
                    margin-left: 0;
                }
                p {
                    text-align: center;
                }
            }
        }
            .img-nosotros {
                img {
                    width: 100vw;
                    align-self: center;
            }
        }
    }
    .main-contenedor .main-contenedor-section2 {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            margin-top: 3%;
    }    
}

@media (max-width: 850px) {
    .main-contenedor-index {
        background-image: url(../img/fondo-inicio3.jpg);
    }
    .main-contenedor {
        .main-contenedor-section2 {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
        }
    }
}

@media (max-width: 600px) {
    .header-contenedor {
        .logo-contenedor {
            .titulo {
                visibility: hidden;
            }
        }
    }
    .main-contenedor-index .nav-index .ul-index .li-index {
        display: flex;
        justify-content: center;
        width: 100px;
        a {
            font-size: 18px;
        }
    }
    .main-contenedor-index {
          .titulo-index {
            h2 {
                 font-size: 20px;
            }
        }
    }
    .main-contenedor {
        flex-direction: column;
        .main-contenedor-section1 {
            flex-direction: column;
            align-items: center;
            h2 {
                margin-top: 5%;
            }
        }
        .main-contenedor-section2 {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            margin-left: 0;
            margin: 0 auto;
            margin-top: 5%;
        }
    }
    .main-contenedor {
        .titulo-contacto {
            margin: 0 auto;
            h2 {
                text-align: center;
                margin-top: 5%;
            }
            p {
                text-align: center;
            }
   
        }
        .formulario-contacto {
            margin: 0 auto;
            margin-bottom: 5%;
            }
        }        
}

